* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  position: relative;
}
.imgPreview {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 99vw;
  max-width: 99vw;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  backdrop-filter: blur(25px);
}

.imgPreview img {
  max-width: 90vw;
  width: auto;
  border-radius: 20px;
}

.close-btn {
  position: absolute;
  top: 40px;
  right: 40px;
  outline: none;
  background: none;
  color: white;
  font-size: 2rem;
  border: none;
  cursor: pointer;
}
.close-btn:hover {
  color: red;
}

.hero {
  background: url("https://cdn.pixabay.com/index/2023/10/30/03-25-44-707_1920x550.jpg");
  background-position: center;
  background-size: cover;
  background-clip: border-box;
  background-repeat: no-repeat;
}
.navbar-nav {
  margin-left: auto;
  align-items: center;
  justify-content: center;
}
.nav-link {
  color: white !important;
}
.nav-item {
  margin: 0 0.6rem;
}
.dropdown,
.upload {
  border-radius: 30px;
  padding: 5px 15px;
}
.upload {
  background-color: #00ab6b;
  padding: 10px 20px;
}
.upload:hover {
  background-color: #13b67a;
}
.dropdown:hover,
.profile:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.profile {
  width: 50px !important;
  height: 50px;
  display: grid;
  place-content: center;
  aspect-ratio: 1;
  border-radius: 50%;
}
.logo {
  color: white;
  width: 200px;
  padding: 1rem 2rem;
}
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  margin-bottom: 2rem;
}
.main-text {
  color: white;
  padding: 2rem;
  margin: 2rem 0;
}
.main-text h1 {
  margin: 1rem 0;
}
.main-text p {
  margin: 0.7rem 0;
}
.search-wrapper {
  display: flex;
  align-items: center;

  position: relative;
}
.search-wrapper i {
  color: black;
  position: absolute;
  right: 3%;
}

.search-input {
  border: none;
  width: 100%;
  border-radius: 30px;
  height: 50px;
  padding: 10px 1rem;
  font-size: 1rem;
  margin: 3rem 0;
}
.search-input:focus {
  border: none;
  outline: none;
}

.images {
  width: 80% !important;
  margin: 0 auto;
}
.image {
  border-radius: 10px !important;
  margin: 10px;
  transition: transform 300ms;
}

.image:hover {
  cursor: pointer;
  transform: scale(1.01);
}
